
# Output of the build system
/build/

# A place to store or link external stuff to, e.g. the dmd2 install dir.
/external/

# A place to store everything you want to keep around but that is not shared with anyone.
/workspace/

# Sublime workspace files
*.sublime-workspace
# Temporary data for unit tests interacting with the file system
/unittest/tmp

# The generated solution file and associates
Krepel.sln
Krepel.sdf
*.vc.*
.vs/

# FastBuild Database
*.fdb
